
<div class='row'>
	<div class='span4 offset4'> 
		<h1 class='-main-title'>

		This is my site!

		</h1>
		<h4 class='-info-block'>
			<div class='-name'>
				My name is Carson Carlisle
			</div>
			<div>
				I work at <a href='http://www.zocdoc.com'>ZocDoc!</a>
			</div>
			<div class='-email-ctn'>
				Contact me at:
				<span class='-email'>
					carson.c.carlisle@gmail.com
				</span>
			</div>
		</h4>
	</div>

</div>